html{
    margin: 5px 10px 8px 10px;
    background: #1D1D1E;
}

#title {
    font-family: PingFang-SC-Medium;
    font-size: 24px;
    color: #DBDBDD;
    letter-spacing: 0;
    line-height: 39px;
    margin-top: 25px;
    margin-bottom: 4px;
}


p{
    font-size: 17px;
    color: #666666;
    letter-spacing: 0;
    text-align: justify;
    margin: 22px 0;
    line-height: 28px;
    word-break: break-word;
}


#desc {
    box-sizing: border-box;
    text-align: center;
    white-space: normal;
    color: #C1C1C1!important;
    font-size: 14px;
    line-height: 22.4px;
}


img {
    width: 100%!important;
    display: block;
    padding: 0;
    border-radius: 6px;
}

.articleInfo{
    font-size: 12px;
    color: #999999;
    margin-bottom: 20px;
}


.author-right{
    width: 100%;
    font-size: 12px;
    color: #999999;
    text-align: right;
    margin-top: 32px;
}

.author-container{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 90px;
    border-color: #666666;;
    border-style: solid;
    border-width: 1px 0 0 0;
    padding-top: 30px;

}

.author-avatar{
    margin: 0!important;
    width: 50px!important;
    height: 50px;
    border-radius: 40px;
    margin-right: 6px;
    float: left;
}

.author-name{
    margin-top: 3px;
    font-size: 16px;
    color: #C1C1C1;
}

.atuhor-sign{
    margin-top: 4px;
    font-size: 12px;
    color: #C1C1C1;
}

.author-info-end{
    float: left;
    margin-left: 8px;
}

.mainbodys{
    margin-top: 30px;
}

.mainbodys h1{
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 24px;
    color: #777777;
}

.image-package{
    text-align:center;
    font-size:0;
    width:100%;
    margin:0 auto;
}

#imagetitle{
    font-size: 14px;
    text-align: center;
    color: #707070!important;
    margin-top: -40px;
    line-height: 28px;
}

.image-package .image-caption{
    width:100%;
    min-height:25px;
    display:inline-block;
    background-color: #AFAFAF;
    line-height: 5px;
    margin-top: -2px;
    padding-top: 5px;
}

table
{
    width: 100%;
    border-collapse:collapse;
}

table, td, th
{
    border: 1px solid #DDD;
}


blockquote{
    background: url("/image/blockquote.png") no-repeat;
    margin:20px 0;
    background-position: 3px 6px;
    background-size: 18px;
    line-height: 1.8;
    font-size: 16px;
    padding-left: 29px;
}

blockquote *{
    color: #6D757A !important;
}

ul{
    padding: 0 25px;
}

ul li{
    color: #666666;
}

ol{
    padding: 0 25px;
}

ol li{
    color: #666666;
}

img + figcaption:empty{
    display: none;
}

.img-content,figure{
    text-align: center;
    margin: 28px 0 25px auto;
    display: block;
    width: 100%;
    outline: none;
    font-size: 0;
}

img + figcaption{
    outline:none;
    max-width: 90%;
    margin: 0 auto 0;
    color: #999;
    font-size: 14px;
    min-height: 22px;
    line-height: 1.5;
    padding: 5px 5px 0;
    cursor: text;
    display: inline-block;
}