<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zxcx.shitang"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.loginAndRegister.selectAttention.SelectAttentionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.loginAndRegister.login.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.welcome.WebViewActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".ui.search.search.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.my.userInfo.UserInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.my.CommonSettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.my.collect.collectFolder.CollectFolderActivity"/>
        <activity android:name=".ui.card.cardBag.CardBagActivity"/>
        <activity android:name=".ui.search.result.SearchResultActivity"/>
        <activity android:name=".ui.my.collect.collectCard.CollectCardActivity"/>
    </application>

</manifest>